
/* GOOGLE FONT 2024 */
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
  --primary: #dd0072;
  --secondary: #006aeb;
  
  --background:rgb(255, 255, 255);
  --background-img: url(/public/img/gradient_bg_piqus.jpeg);
  
  --box-shadow: 8px 15px 1px rgba(0, 0, 0, 0.192);
  
  --on-primary: rgb(250, 250, 250);
  --on-secundary: rgb(250, 250, 250);
  --on-background: rgb(0, 0, 0);
}


* {
  box-sizing:border-box;
}

html{
  scroll-behavior: smooth;
}

body{
	font-family: 'Poppins', sans-serif;
	font-size: 15px;
	font-weight: 200;
  background-color:var(--background);
  color: var(--on-background);
}

h1, h2{
	font-family: 'Baloo 2', sans-serif;
	font-size: 45px;
  font-weight: 500;
	letter-spacing: 0px;
  margin-bottom: 20px;
}

h2{
	font-size: 25px;
  max-width: 350px;
  margin: auto;
  margin-bottom: 30px;
}

a{
  color: var(--secondary);
  font-weight: 400;
  text-decoration: none;
}

a:hover{
  color: var(--primary);
  text-decoration: underline;
  transition: 1000ms;
}

section{
  width: 100%;
  padding: 80px 20px;
}
i {
  color: rgb(210, 0, 130);
  margin-right: 15px;
}

/* /////////////////////////// */
/* BOOTSTRAP FINE TUNING */
/* /////////////////////////// */

.btn{
  margin: 10px;
}

.btn-primary{
  background-color: var(--primary);
  border-color: var(--primary);
  color: var(--on-primary)
}

.btn-primary:hover{
  background-color: var(--secondary);
  border-color: var(--secondary);
  color: var(--on-primary)
}

.btn-secondary{
  background-color: var(--secondary);
  border-color: var(--secondary);
  color: var(--on-primary)
}

.btn-secondary:hover{
  background-color: var(--primary);
  border-color: var(--primary);
  color: var(--on-primary)
}



/* //////////////////////////////////////////////
///////// SECTIONs CSS
/////////////////////////////////////// */

#excuse-generator {
  display: flex;
  align-items: center;
  
  position: relative;
  background-color: var(--section-bg);
  padding-top: 60px;
  padding-bottom:60px;
  min-height: 100vh;

  background-image: var(--background-img);
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; 
}

#excuse-generator .card{
  text-align: center;
  background: white;
  border-radius: 30px;
  border: none;
  box-shadow: var(--box-shadow);
  padding: 30px;
  width: 100%;
  max-width: 600px;
  margin: auto;
}

#hero p{
  text-align: left;
}

#hero img{
  width: 100%;
}

#hero .btn{
  margin-right: 15px;
}


@media only screen and (max-width: 767px) {
  #hero {
    padding-top: 40px;
    padding-bottom:40px;
    min-height: 60vh;
  }
}




